@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (width <= 400px) { 
  hover: none;
}
@media (width >= 400px) { 
  hover: true;
}
  */
.items-left{
  float: left;
}

.items-right{
  float: right;
}
.bigdiv{
  display: flex;
  flex-direction: row;
}
.socialtech{
  display:flex;
  flex-direction:column;
}
:root {
  --background: slate-950;
  --foreground: slate-950;
}
* {
  border-width: 0px;
}
Image {
  width: 100%;
}

.techstack{
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.cplus{
  margin-left: 10px;
  width: 45px;
  height: 50px;
}

.pt-15{
  margin: 15px 0px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-slate-800;
    --foreground: bg-slate-800;
  }
}
.flex-1{
  flex:1;
}
.name {
  margin: auto;
  color: bg-gray-600;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //padding: 50px;
  border-radius: 5px;
  height: 310px;
  width: 500px;
  text-align: center;
  padding: 6px;
}

.container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

}

.projects-container {
  border: 1px solid #ccc;
  box-shadow: 1 8px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align:center;
}

.header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.title strong {
  font-size: medium;
  border-bottom: 2px solid black;
}

.description {
  padding-top: 10px;
}

.links {
  display: flex;
  margin: 5px 0;
  text-decoration: none;
  color: #007bff;
}

.social {
  padding: 0.5px;
  margin: 5px;
  width: 50px;
  height: 50px;
}

.vline {
  border-left: thick solid #ff0000;
}

h1 {
  font-size: 50px;
  text-align: center;
}

@layer base {
  
  * {
    @apply border-border;
  }

  body {
    @apply bg-gray-900;
  }
}
